* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik&display=swap');


/*
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;

*/ 

body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    letter-spacing: 1.5px; 
    h1,h2,h3{
        font-family: 'Raleway', sans-serif;
    }
   font-family: 'Rubik', sans-serif;
}


.hide {
    display: none;
}
#profilepic {
    width: 90vw;

}

#profilepic2 {
    display: none;
}

h1 {
    text-transform: uppercase;

    .familyname {
        font-weight: bolder;
    }
}

i {
    color: rgba(0, 0, 0, 0.712);
}

.wrap {

    padding: 15px;

    h2 {
        text-transform: uppercase;
    }

    h3 {

        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        color: black;
        text-align: center;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
    }

    i:hover {
        color: black;
    }
}

.yellow {

    

    background-color: yellow;

    span {
        background-color: azure;
    }

    .address {
        p {
            text-align: center;
        }
    }

    .image {
        opacity: 0.8;
        padding-bottom: 10px;
    }

}

.white {
    background-color: azure;
    span {
        background-color: yellow;
    }
}



.contact {
    display: flex;

    hr {
        display: none;
    }

}

.skills {
    p {
        padding: 10px;

    }

    i {
        padding-right: 15px;
    }
}

.work {
    display: flex;

    h6 {
        width: 10%;
        text-orientation: upright;
        writing-mode: vertical-rl;
    }

    p {
        width: 90%;
        padding-left: 20px;
    }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

.hide{
    display: block
}

    #wrapthis {

        h3 {
            font-size: 18px;
        }
    }

    #cv{
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        border: 3px solid black; 
        text-align: center; 
        padding: 15px; 
        z-index: 10;
        position: absolute; 
        top: 66%;  
        left: 20px; 
        
    }

    #profilepic2 {
        width: 50vw;
        display: block;
        padding: 0;



    }

    #profilepic {
        display: none;
    }


    .yellow {
        padding: 50px;
        display: grid;
        grid-template-areas:
            'home home home panadda panadda'
            'home home home panadda panadda'
            'contact contact contact image1 image1'
            'contact contact contact image1 image1'

        ;

        .hide {
            display: block
        }

        span {
            background-color: transparent;
        }

        .name {
          
            grid-area: panadda;

            p {
               
                padding-bottom: 10px;
            }
        }

        .address {
            grid-area: home;
            margin: 0;
            padding-bottom: 60px; 

            h3,
            p {
                text-align: left;
            }
        }

        .image {
            grid-area: image1;
            opacity: 0.8;
            margin-left: 30px;
            padding-top: 87px;
            padding-left: 0;

        }

        .contactmain {
            h3 {
                text-align: left;
            }

            .contact {
                text-align: left;
                grid-area: contact;
                display: block;

                hr {
                    display: block;
                }

                p {
                    text-align: left;
                }
                a{
                    margin-bottom: 15px; 
                }

            }
        }
    }

    .white {
        background-color: azure; 
        padding: 50px;

        .flex {
            display: flex;

            h2,
            h3 {
                text-align: left;
            }

            h2{
                padding-bottom: 20px; 
            }

            span {
                background-color: transparent;
            }

            .skills {
                width: 35%;
            }

            .experience {
                width: 65%;
            }
        }
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



    #wrapthis {
        position: relative;
     margin-top: 10px; 
        width: 960px;
        background-color: white;
        -webkit-box-shadow: -27px 15px 103px 0px rgba(0,0,0,0.31);
        -moz-box-shadow: -27px 15px 103px 0px rgba(0,0,0,0.31);
        box-shadow: -27px 15px 103px 0px rgba(0,0,0,0.31);
        
        #cv{
            top: 57%
        }
        
        #profilepic2 {
            width: 35vw;
        }

        .address{
            padding: 15px; 
            padding-bottom: 70px; 
        }

        .image{padding-left: 15px; }


        .white {
            height: 75vh;
        }
    }
}